#adminmenu .wp-menu-separator {
  border-bottom: 2px solid #ffffff1c;
}

.notice-warning {
    display: none !important;
}

.smush-notice {
    display: none !important;
}

.error.fade {
    display: none !important;
}

.woocommerce-message {
    display: none !important;
}

#ame-plugin-menu-notice {
    display: none !important;
}

.wp-pointer-left {
    display: none !important;
}

.frash-notice {
    display: none !important;
}

#welcome-panel {
    display: none !important;
}

.ac-message.updated {
    display: none !important;
}

#footer-thankyou {
    display: none !important;
}

#wp-admin-bar-comments {
    display: none !important;
}

#wp-admin-bar-new-content {
    display: none !important;
}

#wp-admin-bar-analytify {
    display: none !important;
}

.wp-admin.index-php #wpbody .wrap > .updated {
    display: none !important;
}

.wp-admin .pro-feature-wrapper {
    display: none !important;
}

.wp-admin  .wp-analytify-premium {
    display: none !important;
}

.wp-admin  #wp-analytify-help-tab {
    display: none !important;
}

#wp-admin-bar-su-menu {
    display: none !important;
}

#wp-admin-bar-wp-logo {
    display: none !important;
}

#wp-admin-bar-updates {
    display: none !important;
}

#contextual-help-link {
    display: none !important;
}

img.menu_pto {
    display: none !important;
}

#add_gform {
    display: none !important;
}

.update-plugins {
    display: none !important;
}

.update-nag {
    display: none !important;
}

.wdspromos {
    display: none !important;
}

#try-gutenberg-panel {
  display: none !important;
}

#plugins-by-dreihochzwo {
    display: none !important;
}

#plugins-by-john-huebner {
    display: none !important;
}

#wpfooter {
    display: none !important;
}

.about-wrap .extranotes {
    display: none !important;
}

#cpac #ac-pro-version {
    display: none !important;
}

#cpac #direct-feedback {
    display: none !important;
}

#cpac #plugin-support {
    display: none !important;
}

#cpto #cpt_info_box {
    display: none !important;
}

#ws_sidebar_pro_ad {
    display: none !important;
}

#ws-pro-version-notice {
    display: none !important;
}

#ws_ame_how_to_box {
    display: none !important;
}

#bsr-sidebar-wrap, 
.bsr-action-form > p {
  display: none !important;
}

.wrap.ame-is-free-version .updated {
  display: none !important;
}

.post-type-locations #tsf-inpost-box {
  display: none !important;
}

#setting-error-tgmpa {
  display: none !important;
}

/* Medium Editor CSS */

.medium-editor-element, 
.medium-editor-element > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Helvetica Neue LT",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: 0;
  max-width: 100%;
}

.medium-editor-element b, 
.medium-editor-element strong {
  font-weight: 700;
}

.acf-field-medium-editor > .acf-input > span {
  margin-top: 6px;
  display: block;
  margin-left: 2px;
}

/* Medium Editor END */
